/* Global */

:root {
  --color-brand-primary: #0aa;
  --color-brand-secondary: #aca;
}

body,
textarea {
  font-family: sans-serif;
}

/* Components */

.app {
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 720px;
  width: 100%;
}

.main {
  flex: 1;
}

.footer {
  margin-top: 5rem;
}

.form {
  font-size: 1.2rem;
}

/* Utilities */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-brand-primary {
  color: var(--color-brand-primary, teal);
}

.text-brand-secondary {
  color: var(--color-brand-secondary, green);
}
